<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">  

<context:component-scan base-package="com.employeeReimbursementSystem"></context:component-scan>

<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
<property name="prefix" value="/resources/jsp/"></property>
<property name="suffix" value=".jsp"></property>
</bean>
<mvc:annotation-driven></mvc:annotation-driven>
  <mvc:resources location="/resources/" mapping="/resources/**"></mvc:resources>
 
<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>  
<property name="url" value="jdbc:mysql://localhost:3306/employeereimbursement?useSSL=false"></property>  
<property name="username" value="root"></property>  
<property name="password" value="88723aman"></property>  
</bean>  

<bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">
<property name="dataSource" ref="ds"></property>
</bean>

<bean id="userDao" class="com.employeeReimbursementSystem.dao.UsersDao">

</bean>
<bean id="factory" class="com.employeeReimbursementSystem.factory.EntityFactory">

</bean>

<bean id="loginDao" class="com.employeeReimbursementSystem.dao.LoginDao">

</bean>
<!-- UserTicket Beans -->
<bean id="GenerateUserTicket" class="com.employeeReimbursementSystem.dao.UsersDao"></bean>
<bean id ="billDao" class="com.employeeReimbursementSystem.dao.GenerateUserTicketDao"></bean>
<!-- UserTicket Beans End -->
<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    <property name="host" value="smtp.gmail.com"/>
        <property name="port" value="25"/>
        <property name="username" value="ad0785409@gmail.com"/>
        <property name="password" value="88723aman@"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.debug">true</prop>
            </props>
        </property>
</bean>
   <!-- Spring File Upload Configuration -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- Maximum Upload Size (In Bytes) - 10 MB -->
        <property name="maxUploadSize" value="21971520" />
        <!-- Maximum Size Of The File In Memory (In Bytes) - 10 MB-->
        <property name="maxInMemorySize" value="1048576" />
    </bean>
    
</beans>
